<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="form">
        <div class="form-fream">
          <div class="form-area">
            <p class="form-area-title">
              Potepan Shareでまだ体験したことのない旅をしよう
            </p>
              <div class="form-area-search">
                <p>エリア</p>
                <input>
              </div>
            <%= link_to rooms_path do %>
              <button class="search-button">探す</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="recommend-area">
      <h1>おすすめのエリア</h1>
      <div class="all">
        <div class="area-img">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" alt="東京">
          <p>東京</p>
        </div>
        <div class="area-img">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" alt="大阪">
          <p>大阪</p>
        </div>
        <div class="area-img">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg" alt="京都">
          <p>京都</p>
        </div>
        <div class="area-img">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg" alt="札幌">
          <p>札幌</p>
        </div>
      </div>
    </div>
  </div>
</div>






