<div class="room_complete">
  <div class="room_view_box">
    <div class="content">
      <label for="room">予約した部屋</label>
      <p class="room_name"><%= @reservation.room.room_name %></p>
    </div>
    <div class="content">
      <label for="start_date">開始日</label>
      <p class="start"><%= @reservation.start_date %></p>
    </div>
    <div class="content">
      <label for="end_date">終了日</label>
      <p class="end"><%= @reservation.end_date %></p>
    </div>
    <div class="content">
      <label for="price">価格</label>
    </div>
  </div>
</div>
