<div class="register_list">
  <h4>登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/uploads/room/image/686/room01.jpg" %>
        </td>
        <td class="register_room_name">
          
        </td>
      </tr>
    </tbody>
  </table>
</div>